
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    background-color:white;
}

#wrapper{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 185, 255);
    background-color: rgb(32,33,36,0.9);
    background-image:url(./images/3668452.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: fit;

}

.calculator{
   
    display: grid;
    justify-content: center;
    align-content: center;
    /* min-height: 100vh; */
    grid-template-columns: repeat(4, 70px);
    
    grid-template-rows: minmax(60px, auto) repeat(5,70px);
}

.span-2{
    grid-column: span 2;
}

.calculator > button{
    font-size: 1.4em;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgba(36, 123, 180, 0.851);
    border-color:rgba(109, 245, 245, 0.231);

}
button:hover{
    background-color: azure;
}
.output{
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding:1em;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgba(11, 11, 11, 0.909);
    min-height: 100px;

}

.output .previous-operand{
    color: rgb(255,255,255,0.75);
    font-size: 1em;

}

.output .cur-operand{
    color:white;
    font-size: 2.0rem;
}

